@font-face{
    font-family: YuseiMagic, Montserrat;
    src: url('../assets/fonts/YuseiMagic-Regular.ttf');
     src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@import "tailwindcss";

:root {
    --font-YuseiMagic: YuseiMagic, "sans-serif";
    --font-Montserrat: Montserrat, "sans-serif";
}
